@font-face {
    font-family:font_strong;
    src:url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.woff2') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
   }